#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : white;
    font-size: 20px;
}

#myCarousel2
{
    background-color: #b5d0d4;
}

#myCarousel2 img
{
    height: 300px;
    margin-top: 35px;
}
body {
    text-align: center;
    background-color: azure;
}

h1 {
    font-size: 80px;
    font-weight: 300;
    font-family: sans-serif;
}
img{
    width: 50%;
    height: 50%;
}
